flask==3.0.0
google-cloud-aiplatform==1.76.0
google-auth==2.30.0
google-api-core==2.19.0
google-cloud-core==2.4.1
protobuf==4.25.3
asyncio==3.4.3
datasets==3.2.0
regex==2024.5.15
pandas==2.2.2
python-dotenv==1.0.1
llamaapi==0.1.36
dataclasses==0.6
gunicorn==21.2.0